/* ====== createBoard Styles ====== */

.board {
    padding-top: 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-icon {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.board-text {
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* ====== createValuesPanel Styles ====== */

.value-card-panel {
    position: absolute;
    font-size: 0.70vw;
    top: 13%;
    left: 3%;
    width: 17%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.value-card-icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    pointer-events: none;
}

/* ====== Card Viewer Styles ====== */

#CardsCollectionsId {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    height: 100%;
    width: 100%;
    gap: 0.5%;
    box-sizing: border-box;
    overflow: hidden;
}

/* Styles for each cell in the grid */
.card-cell {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ====== Card Styles ====== */

.card-button {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 2;
    border: none;
    padding: 0;
    background: rgb(219, 161, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6.5%;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%; 
}

.card-image {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 92%;
    object-fit: cover;
    box-sizing: border-box;
    pointer-events: none;
}

.img-selected {
    position: absolute;
    top: 13%;
    right: 3%;
    width: 30%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
    display: none;
}

.card-image-frame {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}


/* ====== Card Text Styles ====== */

.card-name {
    font-size: 0.7vw;
    position: absolute;
    top: 1%;
    text-align: center;
    font-weight: bold;
    white-space: normal;
    pointer-events: none;
}

.card-bottom-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
    border-radius: 0 0 10px 10px;
    background: rgba(255, 255, 255, 0.6);
    pointer-events: none;
}

.card-group {
    font-size: 0.56vw;
    text-align: center;
    font-weight: bold;
    flex: 0 0 15%;
    white-space: normal;
}

.card-description {
    font-size: 0.62vw;
    font-weight: bold;
    text-align: center;
    white-space: normal;
    flex: 1;
    margin: 0.8%;
}

/* ====== Big Card Panel ====== */
.card-group-info-panel {
    font-size: 1.17vw;
}

.card-description-info-panel {
    font-size: 1.30vw;
}

.value-card-panel-info-panel {
    font-size: 1.47vw;
}

.card-name-info-panel {
    font-size: 1.47vw;
}